@import '~/assets/scss/fonts.css';

:root {
  --primary-color: #2091F9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-family: 'Graphik-Light', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

<<<<<<< HEAD
h1,h2,h3,h4,p {
=======
h1 {
>>>>>>> main
  margin: 0;
}
